*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** LOGIN PAGE STYLINGS ********/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffdbdb;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0px;
}

.heading {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    padding: 30px 20px;
    background-color: #fff;
}

.left-side {
    flex: 1;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.red-box {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #fE7AA2;
}

.label-text {
    font-size: 13px;
    font-weight: bold;
}

.input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 100vmax;
    background-color: #f8f9fb;
}

.input n::placeholder{
    opacity: 0.7;
    color: red;
}

.right-side {
    flex: 1;
    padding-top: 30px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.right-side-btn {
    padding: 10px 0px;
    color: #fff;
    border: none;
    border-radius: 100vmax;
}

.right-side-first-btn {
    background-color: #385999;
}

.right-side-second-btn {
    background-color: #1DA1F3;
}

.login-button{
    width: 100px;
    padding: 10px 0px;
    border-radius: 100vmax;
    border: none;
    color: #fff;
    background-color: #fE7AA2;
    cursor: pointer;
}

.signup-text {
    font-weight: bold;
}

.footer {
    padding: 40px;
    background-color: pink;
}

.footer-text {
    text-align: center;
}